<launch>
    <!-- roslaunch realsense2_camera rs_camera.launch align_depth:=true -->
    <include file = "$(find realsense2_camera)/launch/rs_camera.launch">
        <arg name = "align_depth" value = "true"/>
    </include>

    <node pkg ="rs_capture" name = "recieve_rs" type = "recieve_rs.py"/>

    <!-- <include file = "$(realsense2_camera)/launch/rs_camera.launch" param = "align_depth:=true" /> -->
</launch>